* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "CreatingBalance";
  src: url("./assets/CreatingBalance.ttf") format("TrueType");
}
@font-face {
  font-family: "Sunflower";
  src: url("./assets/Sunflower.otf") format("OpenType");
}
