* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DelicateCaligraphy";
  src: url("./assets/CreatingBalance.ttf") format("TrueType");
}
@font-face {
  font-family: "Sunflower";
  src: url("./assets/Sunflower.otf") format("OpenType");
}
@font-face {
  font-family: "LoveYaLikeASister";
  src: url("./assets/LoveYaLikeASister.ttf") format("TrueType");
}

a {
  text-decoration: none;
  color: white;
}
