main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}
.favory-button-2 {
  width: 3.7rem;
  position: absolute;
  top: 3%;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 12;
  button {
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    border: 2px solid rgb(9, 148, 148);
    img {
      width: 80%;
    }
  }
}
.main-contentainer {
  position: relative;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  margin-bottom: 2rem;
  width: 80%;
}

.img-country-container {
  grid-column: 1;
  grid-row: 1;
  margin-right: 0;
}

.img-country-container img {
  width: 100%;
  min-height: 15rem;
  max-height: 15rem;
  border-radius: 8px;
  object-fit: cover;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.img-country-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.city-container {
  grid-column: 2;
  grid-row: span 2;
  border: 1px solid rgba(9, 148, 148, 0.7);
  padding: 2rem;
  border-radius: 8px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
article {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: rgba(9, 148, 148, 0.7);
}
.h2City {
  font-size: 2rem;
  color: rgba(9, 148, 148, 0.7);
}

.city-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.country-container {
  border: 1px solid rgba(9, 148, 148, 0.7);
  grid-column: 1;
  grid-row: 2;
  padding: 2rem;
  border-radius: 8px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  article {
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: rgba(9, 148, 148, 0.7);
  }
  .h2Country {
    font-size: 1.5rem;
    color: rgba(9, 148, 148, 0.7);
  }
  article {
    font-size: 1rem;
  }
}

.country-container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.img-city-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}

.img-city-container img {
  flex: 1;
  max-width: 30%;
  height: 15rem;
  border-radius: 8px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.img-city-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.city-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 8rem;
  img {
    max-height: 2.5rem;
    max-width: 3rem;
  }
  .NumberKey {
    font-size: 2rem;
  }
}

.icon-number-container {
  display: flex;
  margin-top: 0.5rem;
  gap: 2rem;
}
