.filter-box {
  background-color: aliceblue;
  width: 94%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 15;

  .continent-filter {
    width: 100%;
    height: 2.5rem;
    color: rgba(9, 148, 148);
    background-color: white;
    border: 1px solid rgb(9, 148, 148);
  }
  .continent-filter:hover {
    color: white;
    background-color: rgba(9, 148, 148);
    cursor: pointer;
  }
  .continent-filter:focus {
    color: white;
    background-color: rgba(9, 148, 148);
    cursor: pointer;
  }
}
